<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="editForm">
    <div class="modal fade" tabindex="-1" id="editRow">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="detailsForm">
                        <input type="hidden" id="id" name="id">

                        <div class="form-group">
                            <label for="name" class="col-form-label" th:text="#{application.tasks.name}">Name</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>

                        <div class="form-group">
                            <label for="status" class="col-form-label"
                                   th:text="#{application.tasks.status}">Status</label>
                            <select id="status" name="status">
                                <option value="TO_DO">TO_DO</option>
                                <option value="IN_PROGRESS">IN_PROGRESS</option>
                                <option value="DONE">DONE</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="hidden" id="manager.id" name="manager.id">
                            <label for="manager.name" class="col-form-label" th:text="#{application.tasks.manager}">Manager</label>
                            <select id="manager.name" name="manager.name">
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="hidden" id="developer.id" name="developer.id">
                            <label for="developer.name" class="col-form-label" th:text="#{application.tasks.developer}">Developer</label>
                            <select id="developer.name" name="developer.name">
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="hidden" id="project.id" name="project.id">
                            <label for="project.name" class="col-form-label" th:text="#{application.tasks.project}">Project</label>
                            <select id="project.name" name="project.name">
                            </select>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="" th:text="#{application.common.cancel}">Cancel</span>
                    </button>
                    <button type="button" class="btn btn-primary" onclick="save()">
                        <span class="" th:text="#{application.common.save}">Save</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

</html>