<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="editForm">
    <div class="modal fade" tabindex="-1" id="editRow">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="detailsForm">
                        <input type="hidden" id="id" name="id">

                        <div class="form-group">
                            <input type="hidden" class="form-control" id="name" name="name">
                        </div>

                        <div class="form-group">
                            <label for="status" class="col-form-label">Status</label>
                            <select id="status" name="status">
                                <option value="TO_DO">TO_DO</option>
                                <option value="IN_PROGRESS">IN_PROGRESS</option>
                                <option value="DONE">DONE</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="hidden" id="manager.id" name="manager.id">
                            <input type="hidden" id="manager.name" name="manager.name">
                            <input type="hidden" id="manager.role" name="manager.role">
                        </div>

                        <div class="form-group">
                            <input type="hidden" id="developer.id" name="developer.id"
                                   th:attr="value=${loggedUser.id}">
                            <input type="hidden" id="developer.name" name="developer.name"
                                   th:attr="value=${loggedUser.name}">
                            <input type="hidden" id="developer.role" name="developer.role"
                                   th:attr="value=${loggedUser.role}">
                        </div>

                        <div class="form-group">
                            <input type="hidden" id="project.id" name="project.id">
                            <input type="hidden" id="project.name" name="project.name">
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="">Cancel</span>
                    </button>
                    <button type="button" class="btn btn-primary" onclick="save()">
                        <span class="">Save</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

</html>