<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title th:text="#{application.authentication}">Authentication</title>
    <th:block th:include="fragments/header.html ::  head"/>
</head>

<body>

<form action="/login" method="post">
    <div th:if="${param.error}" class="alert alert-danger" th:text="#{application.login.error}">
        Invalid credentials.
    </div>
    <input type="text" id="username" name="login" placeholder="login">
    <input type="password" id="password" name="password" placeholder="password">
    <button type="submit">login</button>
</form>

</body>

<footer>
    <th:block th:include="fragments/footer.html :: footer"/>
</footer>

</html>