<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <th:block th:include="fragments/header.html :: head"/>
    <script sec:authorize="hasRole('ADMIN')" th:src="@{/script/taskmanagement.projects.js}" rel="script"></script>
    <script sec:authorize="hasRole('MANAGER')" th:src="@{/script/taskmanagement.profile.projects.js}"
            rel="script"></script>
    <title th:text="#{application.projects.list}">Projects List</title>

</head>

<body>

<th:block th:include="fragments/userInfo.html :: userInfo"/>

<div class="jumbotron pt-4">
    <div class="container">
        <h3 class="text-center" th:text="#{application.projects.list}">Projects</h3>
        <button class="btn btn-success" onclick="add()" th:text="#{application.common.add}">Add</button>
        <table id="dataTable" class="table table-striped">
            <thead>
            <tr>
                <th th:text="#{application.projects.name}">Name</th>
                <th sec:authorize="hasRole('ADMIN')" th:text="#{application.projects.manager}">Manager</th>
                <th th:text="#{application.common.edit}"></th>
                <th th:text="#{application.common.delete}"></th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<th:block sec:authorize="hasRole('ADMIN')" th:include="fragments/adminProjectEditForm.html :: editForm"/>
<th:block sec:authorize="hasRole('MANAGER')" th:include="fragments/managerProjectEditForm.html :: editForm"/>

</body>
<footer>
    <th:block th:include="fragments/footer.html :: footer"/>
</footer>
</html>