<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <script sec:authorize="isAuthenticated()" th:scr="@{/script/jsog.js}" rel="script"></script>
    <th:block th:include="fragments/header.html :: head"/>
    <script sec:authorize="hasRole('ADMIN')" th:src="@{/script/taskmanagement.tasks.js}" rel="script"></script>
    <script sec:authorize="hasRole('MANAGER')" th:src="@{/script/taskmanagement.profile.manager.tasks.js}"
            rel="script"></script>
    <script sec:authorize="hasRole('DEVELOPER')" th:src="@{/script/taskmanagement.profile.developer.tasks.js}"
            rel="script"></script>

    <title th:text="#{app.tasks.list}">Tasks List</title>

</head>

<body>

<th:block th:include="fragments/userInfo.html :: userInfo"/>

<div class="jumbotron pt-4">
    <div class="container">
        <h3 class="text-center">Tasks</h3>
        <button sec:authorize="hasRole('ADMIN') or hasRole('MANAGER')" class="btn btn-success" onclick="add()">Add
        </button>
        <table id="dataTable" class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th sec:authorize="hasRole('ADMIN') or hasRole('DEVELOPER')">Manager</th>
                <th sec:authorize="hasRole('ADMIN') or hasRole('MANAGER')">Developer</th>
                <th>Project</th>
                <th></th>
                <th sec:authorize="hasRole('ADMIN') or hasRole('MANAGER')"></th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<th:block sec:authorize="hasRole('ADMIN')" th:include="fragments/adminTaskEditForm.html :: editForm"/>
<th:block sec:authorize="hasRole('MANAGER')" th:include="fragments/managerTaskEditForm.html :: editForm"/>
<th:block sec:authorize="hasRole('DEVELOPER')" th:include="fragments/developerTaskEditForm.html :: editForm"/>

</body>
<footer>
    <th:block th:include="fragments/footer.html :: footer"/>
</footer>
</html>