<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <th:block th:include="fragments/header.html :: head"/>
    <script th:src="@{/script/taskmanagement.users.js}" rel="script"></script>
    <title th:text="#{application.users.list}">Users List</title>

</head>

<body>

<div class="jumbotron pt-4">
    <div class="container">
        <h3 class="text-center">Users</h3>
        <button class="btn btn-success" onclick="add()" th:text="#{application.common.add}">Add</button>
        <table id="dataTable" class="table table-striped">
            <thead>
            <tr>
                <th th:text="#{application.users.name}">Name</th>
                <th th:text="#{application.users.password}">Password</th>
                <th th:text="#{application.users.role}">Role</th>
                <th th:text="#{application.common.edit}"></th>
                <th th:text="#{application.common.delete}"></th>
            </tr>
            </thead>
        </table>
    </div>
</div>


<div class="modal fade" tabindex="-1" id="editRow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="detailsForm">
                    <input type="hidden" id="id" name="id">

                    <div class="form-group">
                        <label for="name" class="col-form-label" th:text="#{application.users.name}">Name</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-form-label" th:text="#{application.users.password}">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>

                    <div class="form-group">
                        <label for="role" class="col-form-label" th:text="#{application.users.role}">Role</label>
                        <select id="role" name="role">
                            <option value="ROLE_ADMIN">ADMIN</option>
                            <option value="ROLE_MANAGER">MANAGER</option>
                            <option value="ROLE_DEVELOPER">DEVELOPER</option>
                        </select>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeNoty()">
                    <span class="" th:text="#{application.common.cancel}">Cancel</span>
                </button>
                <button type="button" class="btn btn-primary" onclick="save()">
                    <span class="" th:text="#{application.common.save}">Save</span>
                </button>
            </div>
        </div>
    </div>
</div>

</body>
<footer>
    <th:block th:include="fragments/footer.html :: footer"/>
</footer>
</html>